apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
nodeRegistration:
  criSocket: "unix:///run/containerd/containerd.sock"
localAPIEndpoint:
  advertiseAddress: "{{ ansible_host }}"
  bindPort: 6443
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: "v1.33.5"
controlPlaneEndpoint: "k8s.intel.local:6443"
networking:
  podSubnet: "10.244.0.0/16"
  serviceSubnet: "10.96.0.0/12"

certificatesDir: /etc/kubernetes/pki

apiServer:
  certSANs:
    - "{{ ansible_host }}"
    - "k8s.intel.local"
    - "127.0.0.1"
  timeoutForControlPlane: 4m0s

controllerManager: {}
scheduler: {}
clusterName: "kubernetes"
